@import "../../bower_components/normalize-scss/normalize";

body {
	padding: 0;
	margin: 0;
	border: 0;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizelegibility;
}

.page {
	max-width:970px;
	margin: auto;
}

.lead {
	background-image: url(/images/header.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 250px;
}
